@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: teal;
  color: aliceblue;
  cursor: pointer;
  padding: 4px 10px;
}

.todo-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border: 20px solid rgba(90, 90, 90, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

h2 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item > * {
  cursor: pointer;
}

.todo-item {
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

form {
  display: flex;
  justify-content: space-between;
}

form input[type='text'] {
  width: 65%;
}

.done-item label {
  text-decoration: line-through;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label:before {
  content: '⬜️';
  margin-right: 10px;
  display: inline-block;
}

input[type='checkbox']:checked + label:before {
  content: '✅';
}

.counter {
  text-align: right;
  margin-bottom: 0;
  font-size: 12px;
}
